*{
font-family: 'Open Sans', sans-serif;
margin:0;
padding:0;
}
.navigation{
    position:fixed;
    width:100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
}


.logo{
    background-image: url(../images/logo.png);
    background-size: cover;
    width : 100px;
    height: 100px;
    margin-left: 25px;

}

.list{
    display: flex;
    justify-content: space-around;
    list-style:none;
}

.list_element{
    margin: 0 10px;
    font-size: 18px;
    text-transform:uppercase;


}

.list_element_detail{
color: black;
text-decoration:none;
}

.call_info{
text-transform:uppercase;
color: #0c95be;
margin-right: 25px;
cursor:pointer;
}